@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --estado_animation: paused; */
  --estado_animation: paused;
  /* font-size: 10px; */
}

#root {
  /* max-width: 1280px; */
  width: 100vw;
  height: 100vh;
  position: relative;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.scrollbar-special::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* background: #efefef; */
  background: transparent;
}

.scrollbar-special::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 6px;
}

.scrollbar-special::-webkit-scrollbar-thumb:hover {
  background: #555;
}

svg {
  pointer-events: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes transition_background {}

@keyframes scroll_vanish {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .scrollbar{
  opacity: 0;
  transition: opacity .2s ease;  
} */
.vanish_scroll {
  animation-name: scroll_vanish;
  /* animation-play-state: running; */
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-duration: 1.5s;
  /* animation-play-state: var(--estado_animation); */
  /* animation-play-state: running; */
  animation-play-state: paused;
}

@keyframes loading {
  to {
    transform: rotateZ(360deg);
  }
}

#loading_logo {
  animation: loading;
  animation-play-state: running;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.grid_article {
  /* background-color: greenyellow; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  overflow-y: scroll;
  gap: 18px;
  padding: 15px;
}
#sidenav a{
  color: gray;
  border-radius: 8px;
  box-sizing:border-box;
}
#sidenav a.active{
  color: black;
  /* background-color: rgb(203, 203, 203); */
  background-color: rgb(193, 193, 193);
  /* box-shadow: 5px 5px 5px 5px; */
}
#sidenav a.default{
  color: gray;
}
#sidenav a.default:hover{
  color: black;
  background-color: rgb(215, 215, 215);
}
.container{
  container-type: inline-size;
  container-name: sidebar;
}
@container (min-width: 150px) {
  div.test{
    display: block;
  }
}