:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backback img {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-duration: 40s;
  border: thin solid black
}

@keyframes p1 {

  0%,
  12.5% {
    opacity: 1;
  }

  13.5%,
  87% {
    opacity: 0;
  }

  88%,
  100% {
    opacity: 1;
  }
}

.backback img:nth-child(1) {
  animation-name: p1;
  opacity: 0;
}

@keyframes p2 {

  0%,
  12.5% {
    opacity: 0;
  }

  13.5%,
  37.5% {
    opacity: 1;
  }

  38.5%,
  100% {
    opacity: 0;
  }
}

.backback img:nth-child(2) {
  animation-name: p2;
}

@keyframes p3 {

  0%,
  37.5% {
    opacity: 0;
  }

  38.5%,
  62.5% {
    opacity: 1;
  }

  63.5%,
  100% {
    opacity: 0;
  }
}

.backback img:nth-child(3) {
  animation-name: p3;
}

@keyframes p4 {

  0%,
  62.5% {
    opacity: 0;
  }

  63.5%,
  87.5% {
    opacity: 1;
  }

  88.5%,
  100% {
    opacity: 0;
  }
}

.backback img:nth-child(4) {
  animation-name: p4;
  opacity: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.bt-vite {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: rgb(26, 115, 232);
  /* color: #174ae6; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.bt-vite:hover {
  border-color: #646cff;
}

button.bt-vite:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button.bt-vite {
    background-color: #f9f9f9;
  }
}

@keyframes loader {
  to {
    transform: rotateZ(360deg)
  }
}

@keyframes midu {
  to {
    display: none;
    background-color: transparent;
  }
}

@keyframes bouncing {
  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }
}

.bouncing {
  animation-name: bouncing;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* div.other {
  animation: midu;
  animation-duration: .5s;
  animation-fill-mode: backwards;
} */

div.other>div {
  transform: translateY(-50px);
  opacity: 0;
}

.loading {
  animation: loader;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.oculto {
  opacity: 0;
  transform: translateY(200px);
}

/* .otro{
  transition: background .3s ease;
  background: rgb(198, 198, 255);
}
.otro:hover{
  background: radial-gradient(#e66465, #9198e5);
} */
::view-transition-old(document),
::view-transition-new(document) {
  animation-duration: 0.5s;
}

.view_transition {
  view-transition-name: figure-caption;
}

/* Simple final style */

::view-transition-old(figure-caption),
::view-transition-new(figure-caption) {
  height: 100%;
}

.mover {
  transform: scale(1.25) translate(5px, 50%);
  color: gray;
}

/* .special {
  transition: display 1s ease allow-discrete;
} */