:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backback img {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-duration: 40s;
  border: thin solid black
}

.backback div {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-duration: 40s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* [&_div]:absolute [&_div]:w-full [&_div]:h-full */
}

@keyframes p1 {

  0%,
  12.5% {
    opacity: 1;
  }

  13.5%,
  87% {
    opacity: 0;
  }

  88%,
  100% {
    opacity: 1;
  }
}

.backback div:nth-child(1) {
  animation-name: p1;
  opacity: 0;
  background-image: url('../src/images/interior.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes p2 {

  0%,
  12.5% {
    opacity: 0;
  }

  13.5%,
  37.5% {
    opacity: 1;
  }

  38.5%,
  100% {
    opacity: 0;
  }
}

.backback div:nth-child(2) {
  animation-name: p2;
  background-image: url('../src/images/prendas.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes p3 {

  0%,
  37.5% {
    opacity: 0;
  }

  38.5%,
  62.5% {
    opacity: 1;
  }

  63.5%,
  100% {
    opacity: 0;
  }
}

.backback div:nth-child(3) {
  animation-name: p3;
  background-image: url('../src/images/gorro_new.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes p4 {

  0%,
  62.5% {
    opacity: 0;
  }

  63.5%,
  87.5% {
    opacity: 1;
  }

  88.5%,
  100% {
    opacity: 0;
  }
}

.backback div:nth-child(4) {
  animation-name: p4;
  opacity: 0;
  background-image: url('../src/images/jeans.jpg');
  background-size: cover;
  background-position: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.bt-vite {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: rgb(26, 115, 232);
  /* color: #174ae6; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.bt-vite:active {
  border-color: #646cff;
}

button.bt-vite:hover {
  border-color: #646cff;
}

button.bt-vite:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button.bt-vite {
    background-color: #f9f9f9;
  }
}

@keyframes loader {
  to {
    transform: rotateZ(360deg)
  }
}

@keyframes midu {
  to {
    display: none;
    background-color: transparent;
  }
}

@keyframes bouncing {
  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-3px);
  }

  75% {
    transform: translateX(3px);
  }
}

.bouncing {
  animation-name: bouncing;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* div.other {
  animation: midu;
  animation-duration: .5s;
  animation-fill-mode: backwards;
} */

div.other>div {
  transform: translateY(-50px);
  opacity: 0;
}

.loading {
  animation: loader;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.oculto {
  opacity: 0;
  transform: translateY(200px);
}

/* .otro{
  transition: background .3s ease;
  background: rgb(198, 198, 255);
}
.otro:hover{
  background: radial-gradient(#e66465, #9198e5);
} */
::view-transition-old(document),
::view-transition-new(document) {
  animation-duration: 0.5s;
}

.view_transition {
  view-transition-name: figure-caption;
}

/* Simple final style */

::view-transition-old(figure-caption),
::view-transition-new(figure-caption) {
  height: 100%;
}

.mover {
  transform: scale(1.25) translate(5px, 50%);
  color: gray;
}

/* .special {
  transition: display 1s ease allow-discrete;
} */
.pppp {
  /* background: conic-gradient(#00df0f 0% 50%,
      #e1e1e1 50% 100%) */
}

@keyframes juan1 {
  0% {
    transform: translateX(-40px) rotateY(-180deg) scale(1);
  }

  100% {
    transform: translateX(20px) rotateY(180deg) scale(.6);
  }
}

.loader_juan div {
  /* box-shadow: white 0px 0px 50px; */
}

.loader_juan div:nth-child(1) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-delay: .5s; */
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.loader_juan div:nth-child(2) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-direction: alternate;
  animation-duration: 1s;
}

.loader_juan div:nth-child(3) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1); */
  /* animation-delay: .5s; */
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.loader_juan div:nth-child(4) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-direction: alternate;
  animation-duration: 1s;
}

.loader_juan div:nth-child(5) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-delay: .5s; */
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.loader_juan div:nth-child(6) {
  animation-name: juan1;
  animation-play-state: running;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-direction: alternate;
  animation-duration: 1s;
}

#cover>div {
  display: flex;
  transform: scale(.3);
  gap: 10px;
}

#cover>div div {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: transform .3s ease;
}

#cover>div div:nth-child(1) {
  transition: transform .3s ease;
  animation: circle_left 1s running backwards infinite, changecolor1 5s running backwards infinite;
}

#cover>div div:nth-child(2) {
  background-color: rgb(165, 42, 42);
  animation: move 1s running backwards infinite, changecolor2 5s running backwards infinite;
}

#cover>div div:nth-child(3) {
  background-color: rgb(165, 122, 42);
  animation: move 1s running backwards infinite, changecolor3 5s running backwards infinite;
}

#cover>div div:nth-child(4) {
  background-color: rgb(46, 165, 42);
  animation: move 1s running backwards infinite, changecolor4 5s running backwards infinite;
}

#cover>div div:nth-child(5) {
  background-color: rgb(42, 140, 165);
  animation: move 1s running backwards infinite, changecolor5 5s running backwards infinite;
}

#cover>div div:nth-child(6) {
  background-color: rgb(110, 42, 165);
  animation: circle_right 1s running backwards infinite, changecolor6 5s running backwards infinite;
}

@keyframes circle_left {
  0% {
    transform: translate(0px, -50px);
    opacity: 0;
  }

  50% {
    transform: translate(60px, -50px);
    opacity: 0;
  }

  100% {
    transform: translate(60px, 0px);
    opacity: 1;
  }
}

@keyframes changecolor1 {

  0%,
  19.99% {
    background-color: rgb(110, 42, 165)
  }

  20%,
  39.99% {
    background-color: rgb(42, 140, 165)
  }

  40%,
  59.99% {
    background-color: rgb(46, 165, 42)
  }

  60%,
  79.99% {
    background-color: rgb(165, 122, 42)
  }

  80%,
  99.99% {
    background-color: rgb(165, 42, 42)
  }
}

@keyframes changecolor2 {

  0%,
  19.99% {
    background-color: rgb(165, 42, 42)
  }

  20%,
  39.99% {
    background-color: rgb(110, 42, 165);
  }

  40%,
  59.99% {
    background-color: rgb(42, 140, 165);
  }

  60%,
  79.99% {
    background-color: rgb(46, 165, 42);
  }

  80%,
  99.99% {
    background-color: rgb(165, 122, 42);
  }
}

@keyframes changecolor3 {

  0%,
  19.99% {
    background-color: rgb(165, 122, 42);
  }

  20%,
  39.99% {
    background-color: rgb(165, 42, 42);
  }

  40%,
  59.99% {
    background-color: rgb(110, 42, 165);
  }

  60%,
  79.99% {
    background-color: rgb(42, 140, 165);
  }

  80%,
  99.99% {
    background-color: rgb(46, 165, 42);
  }
}

@keyframes changecolor4 {

  0%,
  19.99% {
    background-color: rgb(46, 165, 42);
  }

  20%,
  39.99% {
    background-color: rgb(165, 122, 42);
  }

  40%,
  59.99% {
    background-color: rgb(165, 42, 42);
  }

  60%,
  79.99% {
    background-color: rgb(110, 42, 165);
  }

  80%,
  99.99% {
    background-color: rgb(42, 140, 165);
  }
}

@keyframes changecolor5 {

  0%,
  19.99% {
    background-color: rgb(42, 140, 165);
  }

  20%,
  39.99% {
    background-color: rgb(46, 165, 42);
  }

  40%,
  59.99% {
    background-color: rgb(165, 122, 42);
  }

  60%,
  79.99% {
    background-color: rgb(165, 42, 42);
  }

  80%,
  99.99% {
    background-color: rgb(110, 42, 165);
  }
}

@keyframes circle_right {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes changecolor6 {

  0%,
  19.99% {
    background-color: rgb(110, 42, 165);
  }

  20%,
  39.99% {
    background-color: rgb(42, 140, 165);
  }

  40%,
  59.99% {
    background-color: rgb(46, 165, 42);
  }

  60%,
  79.99% {
    background-color: rgb(165, 122, 42);
  }

  80%,
  99.99% {
    background-color: rgb(165, 42, 42);
  }
}

@keyframes move {
  0% {
    /* transform:translateX(0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) */
    transform: translateX(0px)
  }

  100% {
    /* transform:translateX(60px) rotateY(360deg) rotateX(360deg) rotateZ(360deg) */
    transform: translateX(60px)
  }
}

#contedor {
  display: flex;
  justify-content: space-between;
}